<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-7">
		<% @posts.each do |post| %>
		<div class="article_block">
			<h2><%= link_to post.title, post %></h2>
			<p><%= simple_format post.doc %></p>
			<p>
				posted @  <%= post.updated_at %> 
				<%= link_to 'Edit', edit_post_path(post) %>
				<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		</div>
		<% end %>
	</div>
	<div class="col-md-2">
		<div class="article_block">
			<% @books.each do |book| %>
			<h3><%= book.name %></h3>
			<p><%= book.author %></p>
			<p><%= book.publishing %></p>
			<p><%= book.isbn %></p>
			<hr>
			<% end %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="article_block">
			introduction
		</div>
	</div>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
